<div class="col-md-6">
  <h2 class="text-center">Add User</h2>
  <form>
    <div class="form-group">
      <label for="userid">UserID:</label>
      <input [(ngModel)]="user.userId" placeholder="UserId" name="userid" class="form-control" id="userid">
    </div>

    <div class="form-group">
      <label for="title">Title:</label>
      <input [(ngModel)]="user.title" placeholder="Title" name="title" class="form-control" id="title">
    </div>

    <div class="form-group">
      <label for="completed">Completed:</label>
      <input [(ngModel)]="user.completed" placeholder="completed" name="completed" class="form-control" id="completed">
    </div>

    <button class="btn btn-success" (click)="createUser()">Create</button>
  </form>
</div>
