<div class="col-md-6">
  <h2> User Details</h2>

  <table style="border: 1px solid black" class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">ID</th>
      <th>UserId</th>
      <th>Title</th>
      <th>Completed</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td class="hidden">{{user.id}}</td>
      <td>{{user.userId}}</td>
      <td>{{user.title}}</td>
      <td>{{user.completed}}</td>
      <td><button class="btn btn-danger" (click)="deleteUser(user)"> Delete User</button></td>
    </tr>
    </tbody>
  </table>
</div>

